{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

  <form class="logout" method="POST" action="{% url 'account_login' %}">

    <div class="d-flex align-items-center mb-3 pb-1">
      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
      <span class="h1 fw-bold mb-0">RentRoom</span>
    </div>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-outline-success" type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </form>

{% endblock %}
