{% load static %}

{% block footer %}

 <section class="w3l-footers-20">
  <div class="footers20">
    <div class="container">
      <div class="footers20-content">
        <div class="d-grid grid-col-4 grids-content">
        </div>
        <div class="d-grid grid-col-3 grids-content1 bottom-border">
          <div class="columns copyright-grid align-self">
            <p class="copy-footer-29">© 2021 RentRoom. | Designed by <a
                href="https://www.linkedin.com/in/ayomide-adeyemi-69bb7915b" target='_blank'>the_Aydev</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- move top -->


</section>

<button onclick="topFunction()" id="movetop" title="Go to top">
  &#10548;
</button>

{% endblock footer %}
