{% extends 'base.html' %}

{% block title %} | Paypal Checkout {% endblock %}

{% block content %}

<section class="w3l-about-breadcrumb">
  <div class="breadumb-bg breadcrumb-bg-about pt-5">
    <div class="container pt-lg-5 py-3"></div>
  </div>
</section>
<section class="w3l-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li class="active"><span href="{% url 'home' %}">Home</span></li>
      <li class="active">
        <span class="fa fa-angle-right mx-2" aria-hidden="true"
          ><a href="{% url 'checkout' subscription.id %}"></a></span
        >checkout
      </li>
    </ul>
  </div>
</section>

<div class="wrap">
  <div class="pricing-grids">
    <div class="col-lg">
      {% comment %} col-lg-4 col-md-6 {% endcomment %}
      <br />
      <div class="card card-body">
        <h2>{{subscription.name}}</h2>
        <hr />
        <h4>₦{{subscription.price}}</h4>
        <hr />

        <div id="paypal-button-container"></div>
      </div>
    </div>
  </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=Ad_V6SuzMEemuxMgRpVch7WrMjaO4m_UTgnaa-JU6KW3F__nv1BgULoFGXS3TvEwrQA5RKIihrPsTpts&currency=USD"></script>

<script>

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  var total = '{{subscription.price}}'
  var subscriptionId = '{{subscription.id}}'

  function completeOrder(){
    var url = "{% url 'complete' %}"

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({'subscriptionId':subscriptionId})
    })
  }

  // Render the PayPal button into #paypal-button-container
  paypal
    .Buttons({
      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [{
              amount: {
                value: total,
              },
            },
          ],
        })
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (orderData) {
          // Successful capture! For demo purposes:
          console.log(
            'Capture result',
            orderData,
            JSON.stringify(orderData, null, 2)
          )
          var transaction = orderData.purchase_units[0].payments.captures[0]
          completeOrder()
          alert(
            'Payment successful. Thank you for your payment!'
          )
        })
      },
    })
    .render('#paypal-button-container')
</script>

{% endblock content %}
