{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block title %} | Paystack {% endblock %} 

{% block content %}

  <section class="w3l-about-breadcrumb">
    <div class="breadumb-bg breadcrumb-bg-about pt-5">
      <div class="container pt-lg-5 py-3"></div>
    </div>
  </section>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="{% url 'home' %}}">Home</a></li>
        <li class="active">
          <span class="fa fa-angle-right mx-2" aria-hidden="true"
            ><a href="{% url 'initiate' %}"></a></span
          >Paystack
        </li>
      </ul>
    </div>
  </section>

<div class="pricing-grids">
  <div class="col-lg">
    <br />
    <div class="card card-body">
      <form action="." method="POST">
        {% csrf_token %}
        {{ payment_form | crispy }}
        <p>
        <input class="btn btn-primary" type="submit" value="submit" value="Proceed to payment">
        </p>
      </form>
    </div>
  </div>
</div>

{% endblock content %}