{% extends 'base.html' %}

{% load humanize %}
{% block content %}

<section class="w3l-about-breadcrumb">
<div class="breadumb-bg breadcrumb-bg-about pt-5">
    <div class="container pt-lg-5 py-3">
    </div>
</div>
</section>
<section class="w3l-breadcrumb">
<div class="container">
    <ul class="breadcrumbs-custom-path">
        <li><a href="{% url 'home' %}}">Home</a></li>
        <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Listings</li>
        <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>{{ listing.title }}</li>
    </ul>
</div>
</section>



<!--/blog-post-->
<section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
        <a href="{% url 'listings' %}" class="btn btn-light mb-4">Back To Listings</a>
        <div class="inner mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <div class="listing-category"><span>Rent</span></div>
                </li>
                <li><span class="fa fa-clock-o"></span>{{ listing.list_date | timesince }}</li>
            </ul>
        </div>
        <div class="post-content">
            <h2 class="title-single">{{ listing.title }}</h2>
        </div>
        <div class="blo-singl mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <p>{{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                </li>
            </ul>
            <ul class="share-post">
                <a href="#url" class="cost-estate m-o">{{ listing.price | intcomma }}</a>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8 w3l-news">
                <div class="blog-single-post">
                    <div class="single-post-image mb-5">
                        <div class="owl-blog owl-carousel owl-theme">
                            <div class="item">
                                <div class="card">
                                    <img src="{{ listing.photo_main.url }}" class="img-fluid radius-image" alt="image">
                                </div>
                            </div>
                            {% if listing.photo_1 %}
                            <div class="item">
                                <div class="card">
                                    <img src="{{ listing.photo_1.url }}" class="img-fluid radius-image" alt="image">
                                </div>
                            </div>
                            {% endif %}
                            {% if listing.photo_2 %}
                            <div class="item">
                                <div class="card">
                                    <img src="{{ listing.photo_2.url }}" class="img-fluid radius-image" alt="image">
                                </div>
                            </div>
                            {% endif %}
                            {% if listing.photo_3 %}
                            <div class="item">
                                <div class="card">
                                    <img src="{{ listing.photo_3.url }}" class="img-fluid radius-image" alt="image">
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="single-post-content">
                        <h3 class="post-content-title mb-3">Description</h3>
                        <p class="mb-4">{{ listing.description }}</p>
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">Property detail</h3>
                            <ul class="details-list">
                                <li><strong>Address :</strong>{{ listing.address }}</li>
                                <li><strong>Bedroom :</strong>{{ listing.bedroom }}</li>
                                <li><strong>Kitchen :</strong>{{ listing.bedroom }}</li>
                                <li><strong>Garage :</strong>{{ listing.bedroom }}</li>
                                <li><strong>Garden :</strong> 2 </li>
                                <li><strong>Bathroom :</strong> Brick </li>
                                <li><strong>Price :</strong>{{ listing.price | intcomma }}</li>
                                <li><strong>Avaiable from :</strong>{{ listing.list_date }}</li>
                            </ul>
                        </div>
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">Extras</h3>
                            <ul class="details-list">
                                <li><strong>{{ listing.extras }}</strong></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">
                <aside class="sidebar">

                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Contact the landlord</h4>
                        </div>

                        <article class="post">
                        {% if listing.user.photo %}
                            <figure class="post-thumb"><img src="{{ listing.user.photo.url }}" class="radius-image" alt="img">
                            </figure>
                            {% endif %}
                            <div class="text mb-0"><a href="#blog-single">{{ listing.user.full_name }}
                                </a>
                            </div>
                        </article>
                    <button class="btn btn-primary btn-style w-100" data-toggle="modal" data-target="#inquiryModal"href="{% url 'home' %}" >Chat</button>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>
<!--//blog-posts-->

{% endblock content %}
