{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<section class="w3l-about-breadcrumb">
  <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
    <div class="container pt-lg-5 py-3">
    </div>
  </div>
</section>
<section class="w3l-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Listing</li>
    </ul>
  </div>
</section>


<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
            {% if listings %}
            {% for listing in listings %}
                <div class="col-lg-4 col-md-6 listing-img">
                    <a href="{% url 'listing' listing.id %}">
                        <div class="box16">
                            <div class="rentext-listing-category">
                              <span class="fa fa-stack fa-lg">
                                  <i class="fa fa-certificate fa-stack-2x"></i>
                                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                              </span>
                              <span>Rent</span>
                            </div>
                            <img class="img-fluid" src="{{ listing.photo_main.url }}" alt="image">
                            <div class="box-content">
                                <h3 class="title">₦{{ listing.price | intcomma }}</h3>
                            </div>
                        </div>
                    </a>
                    <div class="listing-details blog-details align-self">
                        <h4 class="user_title agent">
                            <a href="#url">{{ listing.title }}</a>
                        </h4>
                        <p class="user_position">{{ listing.list_date | timesince }}</p>
                        <ul class="mt-3 estate-info">
                            <li><span class="fa fa-city"></span>{{ listing.city }} {{ listing.state }}</li>
                            <li><span class="fab fa-canadian-maple-leaf"></span>Garden: {{ listing.garden }}</li>
                            <li><span class="fas fa-car-garage"></span>Garage: {{ listing.garage }}</li>
                        </ul>
                        <div class="author align-items-center mt-4">
                            <a href="#img" class="comment-img">
                                <img src="{{ listing.user.photo }}" alt="img" class="img-fluid">
                            </a>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#url">{{ listing.user.full_name }}</a>
                                </li>
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value">Landlord</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-md-12">
                    <p>No Listings Available</p>
                  </div>
                {% endif %}
            </div>
        </div>
         <!-- pagination -->
            <div class="pagination-wrapper mt-5 pt-lg-3 text-center">
                <ul class="page-pagination">
                    {% comment %} <li><span aria-current="page" class="page-numbers current">1</span></li> {% endcomment %}
                    {% if listings.has_other_pages %}
            <ul class="pagination">
              {% if listings.has_previous %}
                <li class="page-item">
                  <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in listings.paginator.page_range %}
                {% if listings.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if listings.has_next %}
                <li class="page-item">
                  <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
                </ul>
            </div>
            <!-- //pagination -->
    </div>
</section>

{% endblock content %}
