{% extends 'base.html' %} 

{% block title %} | Paystack Checkout {% endblock %} 

{% block content %}

<section class="w3l-about-breadcrumb">
  <div class="breadumb-bg breadcrumb-bg-about pt-5">
    <div class="container pt-lg-5 py-3"></div>
  </div>
</section>
<section class="w3l-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="{% url 'home' %}}">Home</a></li>
      <li class="active">
        <span class="fa fa-angle-right mx-2" aria-hidden="true"
          ><a href="{% url 'initiate' %}"></a></span
        >Paystack
      </li>
    </ul>
  </div>
</section>

  <div class="container">
    <div class="d-flex row justify-content-center align-items-center py-md-5 py-3" style="min-height=90">
      <div class="col-12">
        <h5>Make payment for: ₦ {{payment.amount}}</h5>
          <script src="https://js.paystack.co/v1/inline.js"></script>
          <button class="btn btn-success" id="django-paystack-button" type="button" onclick="payWithPaystack()"> Make Payment </button> 
      </div>
    </div>
  </div>

  <script>
    function payWithPaystack () {
      let currency = "NGN";
      let plan = "";
      let ref = "{{ payment.ref }}";
      let obj = {
        key: "{{ paystack_public_key }}",
        email: "{{ payment.email }}",
        amount: "{{ payment.amount_value }}",
        ref: ref,
        callback: function (response) {
          window.location.href = "{% url 'verify-payment' payment.ref %}"
        }
      }

      if (Boolean(currency)) {
        obj.currency = currency.toUpperCase();
      }
      if (Boolean(plan)) {
        obj.plan = plan.toUpperCase();
      }
      var handler = PaystackPop.setup (obj);
      handler.openIframe();
    }
  </script>



{% endblock content %}
